.error {
  color: blueviolet;
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  text-shadow: 3px 3px rgba(20, 8, 8, 0.73);
}

.icon {
  box-shadow: 5px 5px 15px 5px hsl(0, 69%, 13%);
  border-radius: 50%;
  padding: 0px;
}
