.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 75vw;
  height: 80vh;
  border-radius: 25px;
}

div {
  padding: 10px;
  text-align: center;
}

.location {
  font-size: 25px;
}

.weather-data {
  font-size: 22px;
}

button {
  padding: 15px 35px;
  font-size: medium;
}

img {
  background-color: green;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 5px #000000;
}

span {
  font-weight: 100;
}
