.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 75vw;
  height: 80vh;
  border-radius: 25px;
  font-size: 22px;
}

.weather-data {
  color: white;
}

.weather-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  width: 100%;
}

div {
  padding: 5px;
  text-align: center;
}

.weather-location .location {
  font-size: 20px;
}

.weather-temp-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: solid 1px white;
}

.weather-temp-container .weather-temp {
  font-size: 25px;
  font-weight: bold;
  width: 50%;
}

.weather-temp-container .weather-description {
  font-size: 25px;
  font-weight: bold;
  width: 50%;
}

.weather-data-now {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-bottom: solid 1px white;
}

.weather-data-now .wind-speed {
  width: 100%;
  border-bottom: solid 1px white;
  padding-top: 0;
}

.button {
  padding: 10px;
  font-size: medium;
}

.button button {
  padding: 12px 35px;
  font-size: medium;
}

.weather-location img {
  background-color: green;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 5px #000000;
  width: 100px;
  height: 100px;
}

.lastUpdated {
  font-size: 12px;
}

@media screen and (min-width: 900px) {
  div {
    padding: 5px;
    text-align: center;
  }

  .weather-data {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    color: white;
  }

  .weather-location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 50%;
  }

  .weather-location .location {
    font-size: 35px;
  }

  .weather-location img {
    width: 280px;
    height: 280px;
  }

  .weather-temp-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    width: 50%;
    padding-bottom: 50px;
    border-bottom: none;
  }

  .weather-temp-container .weather-temp {
    font-size: 80px;
    font-weight: bold;
    width: 100%;
  }

  .weather-temp-container .weather-description {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
  }

  .weather-data-now {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
  }

  .weather-data-now-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.33%;
    font-size: 25px;
  }

  .weather-data-now .wind-speed {
    width: 33.33%;
    border-bottom: none;
  }
  .button {
    padding: 20px;
    font-size: medium;
  }

  .button button {
    padding: 15px 35px;
    font-size: medium;
  }

  .lastUpdated {
    font-size: 18px;
  }
}

@media screen and (min-width: 650px) and (max-width: 930px) {
  div {
    padding: 5px;
    text-align: center;
  }
  .weather-data {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    color: white;
  }

  .weather-location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 50%;
  }

  .weather-location .location {
    font-size: 25px;
  }

  .weather-location img {
    width: 230px;
    height: 230px;
  }

  .weather-temp-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    width: 50%;
    padding-bottom: 50px;
    border-bottom: none;
  }
  .weather-temp-container .weather-temp {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
  }

  .weather-temp-container .weather-description {
    font-size: 40px;
    font-weight: bold;
    width: 100%;
  }

  .weather-data-now {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
  }

  .weather-data-now-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.33%;
    font-size: 25px;
  }

  .weather-data-now .wind-speed {
    width: 33.33%;
    border-bottom: none;
  }

  .button {
    padding: 20px;
    font-size: medium;
  }

  .button button {
    padding: 15px 35px;
    font-size: medium;
  }

  .lastUpdated {
    font-size: 18px;
  }
}
