.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  width: 75vw;
  height: 75vh;
  border-radius: 25px;
}
div {
  padding: 12px;
  text-align: center;
}

button {
  padding: 15px 35px;
  font-size: medium;
}

img {
  background-color: green;
  border-radius: 50%;
}

span {
  font-weight: 700;
}
